#message-container {
    background-color: #1F1D26;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(44, 44, 44);
}

#message-container:hover {
    cursor: pointer;
    background-color: hsl(253, 13%, 17%)
}

#star {
    color: #44404F;
}

.profile-picture {
    margin: 0;
    height: 60px;
    width: 60px;
    background-color: rgb(91, 94, 90);
    border-radius: 5px;
}

.row .tooltip-menu {
    max-width: 100px;
}